<!-- 12. FOOTER  -->
<footer id="Footer">
    <div class="container">
        <div class="col-md-12 py-5">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="descript">
                        <div class="title">
                            <img class="d-inline-block mb-3" src="images/brand2.png" width="30" height="30"
                                 alt="icon image">
                            <h2 class="text-light ml-3 mb-0 d-inline-block font-weight-bold ">The Le<span class="text-green font-weight-bold">v</span>el</h2>
                        </div>
                        <p class="text-muted text-justify">Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="text-muted text-justify">Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <a href="#!" class="text-green"><i class="fas fa-arrow-circle-right text-green mr-3"></i>Read
                            More</a>
                        <hr>
                    </div>
                    <div class="col-12-sm mb-3">
                        <div class="row mt-3">
                            <div class="col-6 pr-0 ">
                                <a href="#">
                                    <div class="icon-footer rounded bg-warning text-center d-inline-block align-top mt-1">
                                        <i
                                                class="fas fa-rss size-icon h-100"></i></div>
                                </a>
                                <div class="text-icon text-secondary d-inline-block">
                                    <h6 class="my-0 py-0 font-weight-bold">Subscribe</h6>
                                    <p class="my-0 py-0 font-weight-light">
                                        <small>to RSS Feed</small>
                                    </p>
                                </div>

                            </div>
                            <div class="col-6 pr-0 ">
                                <a href="#">
                                    <div class="icon-footer rounded bg-info text-center d-inline-block align-top mt-1">
                                        <i
                                                class="fab fa-twitter h-100 "></i></div>
                                </a>
                                <div class="text-icon text-secondary d-inline-block">
                                    <h6 class="my-0 py-0 font-weight-bold">Follow Us</h6>
                                    <p class="my-0 py-0 font-weight-light">
                                        <small>on Twitter</small>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 pr-0 ">
                                <a href="#">
                                    <div class="icon-footer rounded bg-primary text-center d-inline-block align-top mt-1">
                                        <i
                                                class="fab fa-facebook-f h-100"></i></div>
                                </a>
                                <div class="text-icon text-secondary d-inline-block">
                                    <h6 class="my-0 py-0 font-weight-bold">Find Us</h6>
                                    <p class="my-0 py-0 font-weight-light">
                                        <small>Facebook</small>
                                    </p>
                                </div>

                            </div>
                            <div class="col-6 pr-0 ">
                                <a href="#">
                                    <div class="icon-footer rounded bg-success text-center d-inline-block align-top mt-1">
                                        <i
                                                class="fab fa-google-plus-g h-100 "></i></div>
                                </a>
                                <div class="text-icon text-secondary d-inline-block">
                                    <h6 class="my-0 py-0 font-weight-bold">Find Us</h6>
                                    <p class="my-0 py-0 font-weight-light">
                                        <small>on Google+</small>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 pr-0 ">
                                <a href="#">
                                    <div class="icon-footer rounded bg-pint text-center d-inline-block align-top mt-1">
                                        <i
                                                class="fas fa-rss size-icon h-100"></i></div>
                                </a>
                                <div class="text-icon text-secondary d-inline-block">
                                    <h6 class="my-0 py-0 font-weight-bold">Follow Us</h6>
                                    <p class="my-0 py-0 font-weight-light">
                                        <small>on Pinterest</small>
                                    </p>
                                </div>

                            </div>
                            <div class="col-6 pr-0 ">
                                <a href="#">
                                    <div class="icon-footer rounded bg-dribb text-center d-inline-block align-top mt-1">
                                        <i
                                                class="fab fa-twitter h-100 "></i></div>
                                </a>
                                <div class="text-icon text-secondary d-inline-block">
                                    <h6 class="my-0 py-0 font-weight-bold">Follow Us</h6>
                                    <p class="my-0 py-0 font-weight-light">
                                        <small>on Dribbble</small>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light ml-3 my-2">Latest News</h4>
                    <div class="col-sm-12 px-0 mt-3">
                        <div class="latest-post">
                            <div class="row">
                                <div class="col-sm-3 pr-0 text-center">
                                    <a href="#"> <img class="img-fluid mt-1 mb-3"
                                                      src="../images/News/slide51.png"
                                                      alt="news image"></a>
                                </div>
                                <div class="col-sm-9">
                                    <h6 class="font-weight-bold text-secondary">Your Title Blog Here</h6>
                                    <p class="my-0 py-0 font-weight-light text-secondary text-justify">
                                        <small>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                            ut aliquip ex ea...
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="latest-post">
                            <div class="row">
                                <div class="col-sm-3 pr-0 text-center">
                                    <a href="#"> <img class="img-fluid mt-1 mb-3"
                                                      src="../images/News/slide52.png"
                                                      alt="news image"></a>
                                </div>
                                <div class="col-sm-9">
                                    <h6 class="font-weight-bold text-secondary">Your Title Blog Here</h6>
                                    <p class="my-0 py-0 font-weight-light text-secondary text-justify">
                                        <small>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                            ut aliquip ex ea...
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="latest-post">
                            <div class="row">
                                <div class="col-sm-3 pr-0 text-center">
                                    <a href="#!"> <img class="img-fluid mt-1 mb-3"
                                                      src="../images/News/slide53.png"
                                                      alt="news image"></a>
                                </div>
                                <div class="col-sm-9">
                                    <h6 class="font-weight-bold text-secondary">Your Title Blog Here</h6>
                                    <p class="my-0 py-0 font-weight-light text-secondary text-justify">
                                        <small>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                            ut aliquip ex ea...
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light ml-3 my-2">Tags Widget</h4>
                    <div class="d-inline-block mt-2">
                        <button type="button" class="btn btn-outline-secondary my-2">awsome</button>
                        <button type="button" class="btn btn-outline-secondary my-2">ios</button>
                        <button type="button" class="btn btn-outline-secondary my-2">beautiful</button>
                        <button type="button" class="btn btn-outline-secondary my-2">design</button>
                        <button type="button" class="btn btn-outline-secondary my-2">responsive</button>
                        <button type="button" class="btn btn-outline-secondary my-2">mass</button>
                        <button type="button" class="btn btn-outline-secondary my-2">android</button>
                    </div>
                    <h4 class="text-light ml-3 mt-5 mb-2">Useful Links</h4>
                    <ul class="pl-0">
                        <a href="#!">
                            <li class="pb-2 pt-1 text-secondary"><span class="square mr-3 pb-1">&#9632;</span>Web Design
                                Resurces
                            </li>
                        </a>
                        <hr class="my-0">
                        <a href="#!">
                            <li class="pb-2 pt-1 text-secondary"><span class="square mr-3 pb-1">&#9632;</span>Help
                                Center
                            </li>
                        </a>
                        <hr class="my-0">
                        <a href="#!">
                            <li class="pb-2 pt-1 text-secondary"><span class="square mr-3 pb-1">&#9632;</span>Download
                                Center
                            </li>
                        </a>
                        <hr class="my-0">
                        <a href="#!">
                            <li class="pb-2 pt-1 text-secondary"><span class="square mr-3 pb-1">&#9632;</span>User
                                Account
                            </li>
                        </a>
                        <hr class="my-0">
                        <a href="#!">
                            <li class="pb-2 pt-1 text-secondary"><span class="square mr-3 pb-1">&#9632;</span>Support
                                Forum
                            </li>
                        </a>
                        <hr class="my-0">
                        <a href="#!">
                            <li class="pb-2 pt-1 text-secondary"><span class="square mr-3 pb-1">&#9632;</span>Shortcodes
                                Page Ready
                            </li>
                        </a>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light ml-3 my-2">Contact Info</h4>
                    <div class="text-secondary mt-4">
                        <h6 class="my-0 py-0 font-weight-bold">Office One</h6>
                        <p class="my-0 pt-2">
                            <small>Iasi, Strada Palat nr.21<br> Romania</small>
                        </p>
                        <hr>
                    </div>
                    <div class="text-secondary mt-4">
                        <h6 class="my-0 py-0 font-weight-bold">Office Two</h6>
                        <p class="my-0 pt-2">
                            <small>Iasi, Aleea Valea Adanca Nr.10<br> Romania</small>
                        </p>
                        <hr>
                    </div>
                    <div class="text-secondary mt-4">
                        <h6 class="my-0 py-0 font-weight-bold">Phone Number</h6>
                        <p class="my-0 pt-2">
                            <small>+40770696129</small>
                        </p>
                        <p class="my-0 py-0">
                            <small>+40770696129</small>
                        </p>
                        <hr>
                    </div>
                    <div class="text-secondary mt-4">
                        <h6 class="my-0 py-0 font-weight-bold">Email Address</h6>
                        <p class="my-0 pt-2">
                            <small><a href="mailto: ciprian@cipriancujba.me" class="text-green">ciprian@cipriancujba.me</a></small>
                        </p>
                        <p class="my-0 py-0">
                            <small><a href="mailto: ciprian@cipriancujba.me" class="text-green">cujbaciprian@gmail.com</a></small>
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER  -->