<div id="Forms" class="mb-5">
    <div class="container">
        <form id="Contact" class="pt-5"  >
            <div  class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name" required>
                </div>
                <div class="col">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Subject" required>
                </div>
            </div>
            <div class="form-row py-4 ">
                <div class="col">
                    <textarea class="form-control" rows="5" id="comment" required></textarea>
                </div>
            </div>
            <button type="submit" form="Contact" value="Submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
        </form>
    </div>
</div>