<div id="LastIdea">
        <div class="container ">
            <div class="col-md-12 py-5">
                <div class="row">
                <div class="col-md-4 text-center">
                    <div class="card my-5 shadow-sm text-center">
                        <div class="border_icon mx-auto"><i class="circle_icon fas fa-cog fa-4x shadow-lg"></i></div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Easy to Customize</h5>
                            <p class=" text-secondary font-weight-light mb-0 ">Pulvinar pellentesque habitant morbi. </p>
                            <p class=" text-secondary font-weight-light mb-0">Amet massa tortor condimentum.</p>
                            <p class=" text-secondary font-weight-light">Sollicitudin tempor id.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card my-5 shadow-sm text-center">
                        <div class="border_icon mx-auto"><i class="circle_icon far fa-lightbulb fa-4x shadow-lg"></i></div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Great Design Idea</h5>
                            <p class=" text-secondary font-weight-light mb-0 ">Pulvinar pellentesque habitant morbi. </p>
                            <p class=" text-secondary font-weight-light mb-0">Amet massa tortor condimentum.</p>
                            <p class=" text-secondary font-weight-light">Sollicitudin tempor id.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card my-5 shadow-sm text-center">
                        <div class="border_icon mx-auto"><i class="circle_icon fas fa-laptop fa-4x shadow-lg"></i></div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Best For Responsive</h5>
                            <p class=" text-secondary font-weight-light mb-0 ">Pulvinar pellentesque habitant morbi. </p>
                            <p class=" text-secondary font-weight-light mb-0">Amet massa tortor condimentum.</p>
                            <p class=" text-secondary font-weight-light">Sollicitudin tempor id.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</div>