<!-- 9. POSTS  -->
<section id="Posts">
    <div class="container">
        <div class="my-5">
            <h1 class="text-center mb-0 font-weight-bold">LATEST POST</h1>
            <p class="text-center text-secondary mt-0 mb-0">Enim tortor at auctor urna nunc id cursus. </p>
            <p class="text-center text-secondary mt-0 mb-5">Proin sagittis nisl rhoncus mattis.</p>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="row my-2 mx-0">
                            <div class="col-sm-5  mx-0 px-0 d-inline-block">
                                <div class="row">
                                    <ul class="col-md-2 px-0 mb-0">
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-green"><i
                                                    class="far fa-image "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-primary"><i
                                                    class="fas fa-user "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-danger"><i
                                                    class="fas fa-heart "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-secondary"><p class="mb-0 pb-0">
                                                14 DEC</p></div>
                                        </a></li>
                                    </ul>
                                    <img src="../images/Posts/slide41.png" height="152" alt="post image" class="col-md-10 bg-light px-0">
                               </div>
                            </div>
                            <div class="col-sm-7  pl-4 bg-light d-inline-block">
                                <h5 class="pb-0 mb-0 mt-1 font-weight-bold">Blog Title </h5>
                                <p class="pt-0 mb-0 font-weight-light d-md-none d-lg-block">Web Design</p>
                                <p class="pt-2 mb-0 text-secondary text-justify font-14">Eleifend quam adipiscing vitae proin sagittis nisl
                                    rhoncus mattis rhoncus. Facilisis gravida neque convallis a cras semper auctor. </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="row my-2 mx-0">
                            <div class="col-sm-5  mx-0 px-0 d-inline-block">
                                <div class="row">
                                    <ul class="col-md-2 px-0 mb-0">
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-green"><i
                                                    class="far fa-image "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-primary"><i
                                                    class="fas fa-user "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-danger"><i
                                                    class="fas fa-heart "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-secondary"><p class="mb-0 pb-0">
                                                14 DEC</p></div>
                                        </a></li>
                                    </ul>
                                    <img src="../images/Posts/slide42.png" height="152" alt="post image" class="col-md-10 bg-light px-0">
                                </div>
                            </div>
                            <div class="col-sm-7  pl-4 bg-light d-inline-block">
                                <h5 class="pb-0 mb-0 mt-1 font-weight-bold">Blog Title </h5>
                                <p class="pt-0 mb-0 font-weight-light d-md-none d-lg-block">Web Design</p>
                                <p class="pt-2 mb-0 text-secondary text-justify font-14">Eleifend quam adipiscing vitae proin sagittis nisl
                                    rhoncus mattis rhoncus. Facilisis gravida neque convallis a cras semper auctor. </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="row my-2 mx-0">
                            <div class="col-sm-5  mx-0 px-0 d-inline-block">
                                <div class="row">
                                    <ul class="col-md-2 px-0 mb-0">
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-green"><i
                                                    class="far fa-image "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-primary"><i
                                                    class="fas fa-user "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-danger"><i
                                                    class="fas fa-heart "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-secondary"><p class="mb-0 pb-0">
                                                14 DEC</p></div>
                                        </a></li>
                                    </ul>
                                    <img src="../images/Posts/slide43.png" height="152" alt="post image" class="col-md-10 bg-light px-0">
                                </div>
                            </div>
                            <div class="col-sm-7  pl-4 bg-light d-inline-block">
                                <h5 class="pb-0 mb-0 mt-1 font-weight-bold">Blog Title </h5>
                                <p class="pt-0 mb-0 font-weight-light d-md-none d-lg-block">Web Design</p>
                                <p class="pt-2 mb-0 text-secondary text-justify font-14">Eleifend quam adipiscing vitae proin sagittis nisl
                                    rhoncus mattis rhoncus. Facilisis gravida neque convallis a cras semper auctor. </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="row my-2 mx-0">
                            <div class="col-sm-5  mx-0 px-0 d-inline-block">
                                <div class="row">
                                    <ul class="col-md-2 px-0 mb-0">
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-green"><i
                                                    class="far fa-image "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-primary"><i
                                                    class="fas fa-user "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-danger"><i
                                                    class="fas fa-heart "></i></div>
                                        </a></li>
                                        <li><a href="#!">
                                            <div class="text-white text-center py-1 bg-secondary"><p class="mb-0 pb-0">
                                                14 DEC</p></div>
                                        </a></li>
                                    </ul>
                                    <img src="../images/Posts/slide44.png" height="152" alt="post image" class="col-md-10 bg-light px-0">
                                </div>
                            </div>
                            <div class="col-sm-7  pl-4 bg-light d-inline-block">
                                <h5 class="pb-0 mb-0 mt-1 font-weight-bold">Blog Title </h5>
                                <p class="pt-0 mb-0 font-weight-light d-md-none d-lg-block">Web Design</p>
                                <p class="pt-2 mb-0 text-secondary text-justify font-14">Eleifend quam adipiscing vitae proin sagittis nisl
                                    rhoncus mattis rhoncus. Facilisis gravida neque convallis a cras semper auctor. </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  ==== End POSTS ===  -->
