<div id="NavFooter">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom d-none" >
        <div class="container">
            <a class="navbar-brand text-secondary" href="#">The LE<span class="text-green font-weight-bold">v</span>EL</a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#NavBarFooter"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="NavBarFooter">
                <ul class="navbar-nav mr-auto  mt-lg-0 pt-2">
                    <li class="nav-item text-secondary">
                         Copyright  &copy; <span id="Year" class="mr-3"> </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pt-0" href="cipriancujba.me" target="_blank"><span class="text-green font-weight-bold"> @  Ciprian Cujba</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link text-secondary " href="#Navone">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#Overview">Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#Works">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#InfoMedia">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#Skill">Skylls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#Posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#Price">Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#LastIdea">Ideas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#Forms">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<button onclick="ontop()" id="GoTop" title="Go to top" class="btn btn-outline-light bg-green">Top</button>