<!-- 3. NAVBAR Secc navbar with menu -->

<div id="NavTwo">
    <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container">
            <a class="navbar-brand" href="#NavOne">
                <img src="images/brand.png" width="30" height="30" class="d-inline-block align-top" alt="brand image">
                THE Le<span class="font-weight-bold text-green">V</span>eL
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-fill w-100 text-center">
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Navone">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Overview">Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Works">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#InfoMedia">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Skill">Skylls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Price">Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#LastIdea">Ideas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Forms">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#Footer">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#ModalSearch" data-toggle="modal"><i
                                class="fas fa-search text-green fa-1x"></i></a>
                    </li>
                </ul>
            </div>

            <!--Modal-->
            <div class="modal fade m-0 p-0" id="ModalSearch" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full" role="document">
                    <div class="modal-content">
                        <div class="container ">
                            <div class="col-sm-12">
                                <div class="row h-100">
                                    <form class="form">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-secondary ml-auto"
                                                    data-dismiss="modal">Close
                                            </button>
                                        </div>

                                        <div class="text-center search-dialog">
                                            <input class=" text-center form-control text-center p-0 blink"
                                                   type="search" placeholder="type here"
                                                   onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'type here'" aria-label="Search">
                                            <div class="mt-4">
                                                <button class="btn btn-success mr-4" type="submit">Search</button>
                                                <button class="btn btn-outline-light ml-4" type="reset">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!--  ==== End NAVBAR ===  -->