<!-- 2. NAVCOM First navbar with all contact media -->

<div id="Navone">
    <nav class="navbar navbar-expand-sm navbar-light mt-0">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link text-secondary disabled pl-0"><i class="fas fa-globe text-green mr-1"></i>
                        <span class="hideMore">Languages</span>
                        <select class="hide">
                            <option value="0">EN</option>
                            <option value="1">FR</option>
                            <option value="2">DE</option>
                            <option value="3">RO</option>
                        </select>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary noHover disabled"> <i class="fas fa-phone text-green mr-1"></i>
                        <span
                                class="hideMore"> Call us: </span><span class="hide"> 1.999.999.999 </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="mailto:webmaster@example.com"> <i
                            class="fas fa-at text-green mr-1"></i> <span class=" hideMore text-secondary">Email: </span>
                        <span class="hide"> webmaster@example.com</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://www.facebook.com/" target="_blank"><i
                            class="fab fa-facebook-f text-green mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://www.twitter.com/" target="_blank"><i
                            class="fab fa-twitter text-green mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://www.pinterest.com/" target="_blank"><i
                            class="fab fa-pinterest-p text-green mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://plus.google.com/" target="_blank"><i
                            class="fab fa-google-plus-g text-green mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://www.tumblr.com/" target="_blank"><i
                            class="fab fa-tumblr text-green mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://www.wordpress.org/" target="_blank"><i
                            class="fab fa-wordpress text-green mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://www.instagram.com/" target="_blank"><i
                            class="fab fa-instagram text-green mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="https://www.dribbble.com/" target="_blank"><i
                            class="fab fa-dribbble text-green mr-1"></i></a>
                </li>
            </ul>

        </div>
    </nav>
</div>

<!--  ==== End NAVCOM ===  -->