<!-- 5. OVERVIEW  -->
<section id="Overview">
    <div class="container py-5 ">
        <div class="row">
            <div class="col-md-4 content">
                <div class="row">
                    <div class="col-sm-3 d-none d-sm-block">
                        <p class="myPolygon mt-3"><i class="fas fa-headphones-alt icon-middle rotate text-green"></i>
                        </p>
                    </div>
                    <div class="col-sm-9">
                        <div class="d-inline-block">
                            <p class="myPolygon d-sm-none d-inline-block"><i
                                    class="fas fa-headphones-alt icon-middle rotate text-green"></i></p>
                            <h3 class="d-inline pl-2 align-top">Online Support</h3>
                        </div>
                        <p class="text-secondary text-justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis
                            in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
                        <p><a class="btn btn-secondary " href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 content">
                <div class="row">
                    <div class="col-sm-3 d-none d-sm-block">
                        <p class="myPolygon mt-3"><i class="fas fa-chart-line icon-middle rotate text-green"></i></p>
                    </div>
                    <div class="col-sm-9">
                        <div class="d-inline-block">
                            <p class="myPolygon d-sm-none d-inline-block"><i
                                    class="fas fa-chart-line icon-middle rotate text-green"></i></p>
                            <h3 class="d-inline pl-2 align-top">Best For SEO</h3>
                        </div>
                        <p class="text-secondary text-justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
                            eget
                            quam. Vestibulum id ligula porta felis euismod semper. </p>
                        <p><a class="btn btn-secondary " href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 content">
                <div class="row">
                    <div class="col-sm-3 d-none d-sm-block">
                        <p class="myPolygon mt-3"><i class="fas fa-shield-alt rotate icon-middle text-green"></i></p>
                    </div>
                    <div class="col-sm-9">
                        <div class="d-inline-block">
                            <p class="myPolygon d-sm-none d-inline-block"><i
                                    class="fas fa-shield-alt rotate icon-middle text-green"></i></p>
                            <h3 class="d-inline pl-2 align-top">Super Security</h3>
                        </div>
                        <p class="text-secondary text-justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
                            eget
                            quam. Vestibulum id ligula porta felis euismod semper.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="SecOverview" class="py-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid"
                             src="images/overview.jpg" alt="image overview">
                    </div>
                    <div class=" col-md-6 card-body d-flex flex-column align-items-start">
                        <h2 class="text-sm-center"><img src="images/brand.png" width="30" height="30"
                                                        class="d-inline-block align-top mr-4" alt="brand image">
                            Overview THE Le<span class="font-weight-bold text-green">V</span>eL</h2>
                        <p class="text-secondary text-justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
                            eget
                            quam. Vestibulum id ligula porta felis euismod semper.</p>
                        <br>
                        <p class="text-secondary text-justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
                            eget
                            quam. Vestibulum id ligula porta felis euismod semper.</p>
                        <button type="button" class="btn btn-light">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OVERVIEW  -->