<!-- 10. PRICE  -->
<section id="Price" class="bg-light ">
    <div class="container py-5">
        <h1 class="text-center mb-0 font-weight-bold">PRICING TABLE</h1>
        <p class="text-center text-secondary mt-0 mb-0">Enim tortor at auctor urna nunc id cursus. </p>
        <p class="text-center text-secondary mt-0 mb-5">Proin sagittis nisl rhoncus mattis.</p>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card mb-4 shadow-md text-center ">
                        <div class="card-header bg-green text-white ">
                            <h4 class="my-0 font-weight-bold text-uppercase">Free</h4>
                        </div>
                        <div class="card-header">
                            <h4 class="my-0 font-weight-bold text-lowercase"><sup>$</sup>0.00/Month</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1 hosting included</li>
                            <li class="list-group-item">10 users included</li>
                            <li class="list-group-item">2 GB of storage</li>
                            <li class="list-group-item">3 website layout</li>
                            <li class="list-group-item">Email support</li>
                            <li class="list-group-item">Help center access</li>
                        </ul>
                        <div class="card-header">
                            <button type="button" class="btn btn-info btn-md text-uppercase ">Sign up </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card mb-4  text-center  border-3 ">
                        <div class="card-header bg-secondary text-white ">
                            <h4 class="my-0 font-weight-bold text-uppercase text-center d-inline">Standard</h4>
                            <div class="d-inline">
                                <p class="rotate_45 bg-danger text-right font-weight-bold px-1 m-0 float-right">HOT</p>
                            </div>
                        </div>
                        <div class="card-header bg-green px-0">
                            <h4 class="my-0 font-weight-bold  text-lowercase"><sup>$</sup>10.00/Month</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">5 hosting included</li>
                            <li class="list-group-item">20 users included</li>
                            <li class="list-group-item">20 GB of storage</li>
                            <li class="list-group-item">10 website layout</li>
                            <li class="list-group-item">Email support</li>
                            <li class="list-group-item">Help center access</li>
                        </ul>
                        <div class="card-header">
                            <button type="button" class="btn btn-secondary btn-md text-uppercase">buy now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card mb-4 shadow-md text-center ">
                        <div class="card-header bg-green text-white ">
                            <h4 class="my-0 font-weight-bold text-uppercase">Pro</h4>
                        </div>
                        <div class="card-header">
                            <h4 class="my-0 font-weight-bold text-lowercase"><sup>$</sup>15.00/Month</h4>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">7 hosting included</li>
                            <li class="list-group-item">25 users included</li>
                            <li class="list-group-item">25 GB of storage</li>
                            <li class="list-group-item">12 website layout</li>
                            <li class="list-group-item">Email support</li>
                            <li class="list-group-item">Help center access</li>
                        </ul>
                        <div class="card-header">
                            <button type="button" class="btn btn-info btn-md text-uppercase ">buy now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card mb-4 shadow-md text-center ">
                        <div class="card-header bg-green text-white ">
                            <h4 class="my-0 font-weight-bold text-uppercase">Ultimate</h4>
                        </div>
                        <div class="card-header">
                            <h4 class="my-0 font-weight-bold text-lowercase"><sup>$</sup>40.00/Month</h4>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">10 hosting included</li>
                            <li class="list-group-item">36 users included</li>
                            <li class="list-group-item">30 GB of storage</li>
                            <li class="list-group-item">15 website layout</li>
                            <li class="list-group-item">Email support</li>
                            <li class="list-group-item">Help center access</li>
                        </ul>
                        <div class="card-header">
                            <button type="button" class="btn btn-info btn-md text-uppercase">buy now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="googleMap" style="width:100%;height:600px;"></div>
    </div>
</section>
<!-- END PRICE  -->