<!-- 8. SKILL  -->
<section id="Skill">
    <!--fact with number-->
    <div class="container">
        <div class="my-5">
            <h1 class="text-center mb-0 font-weight-bold">SOME FUN FACTS</h1>
            <p class="text-center text-secondary mt-0 mb-5">Enim tortor at auctor urna nunc id cursus. </p>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="big-circle d-inline-block">
                                <i class="fa fa-suitcase skill-circle"></i>
                            </div>
                            <h3 class="mt-4 font-weight-bold text-darkness"><span class="counter-value"
                                                                                  data-count="2250">0</span></h3>
                            <p>
                                <small>Works</small>
                            </p>

                        </div>
                        <div class="col-sm-3 text-center">
                            <div class="big-circle d-inline-block">
                                <i class="fas fa-user skill-circle"></i>
                            </div>
                            <h3 class="mt-4 font-weight-bold text-darkness"><span class="counter-value"
                                                                                  data-count="14843">0</span></h3>
                            <p>
                                <small>Customers</small>
                            </p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <div class="big-circle d-inline-block">
                                <i class="fas fa-building skill-circle"></i>
                            </div>
                            <h3 class="mt-4 font-weight-bold text-darkness"><span class="counter-value"
                                                                                  data-count="3210">0</span></h3>
                            <p>
                                <small>Offices</small>
                            </p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <div class="big-circle d-inline-block">
                                <i class="fas fa-download skill-circle"></i>
                            </div>
                            <h3 class="mt-4 font-weight-bold text-darkness"><span class="counter-value"
                                                                                  data-count="364587">0</span></h3>
                            <p>
                                <small>Downloads</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--skill and service-->
    <div class="bg-light">
        <div class="container pt-5 pb-5">
            <div class="col-lg-12">
                <div class="row">
                    <!--progress bar-->
                    <div class="col-lg-3">
                        <h3 class="font-weight-bold">Our Skills</h3>
                        <p class="font-weight-light">
                            Neque ornare aenean euismod elementum nisi quis eleifend quam. Erat imperdiet sed euismod
                            nisi.
                        </p>
                        <div>
                            <div class="progresBar">
                                <h5 class=" d-inline-block font-weight-light mb-0 mt-2">Adobe Photoshop</h5>
                                <p class=" d-inline-block float-right font-weight-light mb-0 mt-2">90%</p>
                                <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 90%"
                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progresBar">
                                <h5 class=" d-inline-block font-weight-light mb-0 mt-2">Wordpress Themes</h5>
                                <p class=" d-inline-block float-right font-weight-light mb-0 mt-2">70%</p>
                                <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 70%"
                                         aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progresBar">
                                <h5 class=" d-inline-block font-weight-light mb-0 mt-2">Photography</h5>
                                <p class=" d-inline-block float-right font-weight-light mb-0 mt-2">95%</p>
                                <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 95%"
                                         aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progresBar">
                                <h5 class=" d-inline-block font-weight-light mb-0 mt-2">JavaScript</h5>
                                <p class=" d-inline-block float-right font-weight-light mb-0 mt-2">80%</p>
                                <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 80%"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--our service-->
                    <div class="col-lg-6 ">
                        <h3 class="font-weight-bold">Our Services</h3>
                        <p class="font-weight-light">
                            Aliquet nibh praesent tristique magna sit amet purus. Sed tempus urna et pharetra
                            pharetra massa
                            massa ultricies mi. Et tortor at risus viverra adipiscing.
                        </p>
                        <div class="border bg-white">
                            <nav>
                                <div class="nav nav-tabs flex-column flex-sm-row" id="nav-tab" role="tablist">
                                    <a class="flex-sm-fill text-sm-center text-green nav-link font-weight-bold"
                                       id="nav-home-tab" data-toggle="tab"
                                       href="#nav-home" role="tab" aria-controls="nav-home"
                                       aria-selected="true">Home</a>
                                    <a class="flex-sm-fill text-sm-center text-green nav-link font-weight-bold"
                                       id="nav-profile-tab"
                                       data-toggle="tab"
                                       href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                                    <a class="flex-sm-fill text-sm-center text-green nav-link font-weight-bold"
                                       id="nav-contact-tab"
                                       data-toggle="tab"
                                       href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img class="img-fluid mt-2" src="../images/Skill/slide31.png"
                                                     alt="image from text">
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="text-justify">Vitae auctor eu augue ut. Proin nibh nisl
                                                    condimentum id venenatis a
                                                    condimentum vitae. Massa placerat duis ultricies lacus sed turpis
                                                    tincidunt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-secondary mx-2 text-justify">
                                        Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Arcu
                                        cursus
                                        vitae congue mauris rhoncus. Nisi quis eleifend quam adipiscing vitae proin
                                        sagittis
                                        nisl. Tempor id eu nisl nunc. Nulla malesuada pellentesque elit eget gravida.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img class="img-fluid mt-2" src="../images/Skill/slide32.png"
                                                     alt="image from text">
                                            </div>

                                            <div class="col-sm-8">
                                                <p class="text-justify">Vitae auctor eu augue ut. Proin nibh nisl
                                                    condimentum id venenatis a
                                                    condimentum vitae. Massa placerat duis ultricies lacus sed turpis
                                                    tincidunt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-secondary mx-2 text-justify">Nunc sed id semper risus in hendrerit.
                                        Nam aliquam sem et tortor consequat id. Vitae
                                        auctor eu augue ut. Proin nibh nisl condimentum id venenatis a condimentum
                                        vitae.</p>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                     aria-labelledby="nav-contact-tab">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img class="img-fluid mt-2" src="../images/Skill/slide33.png"
                                                     alt="image from text">
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="text-justify">Vitae auctor eu augue ut. Proin nibh nisl
                                                    condimentum id venenatis a
                                                    condimentum vitae. Massa placerat duis ultricies lacus sed turpis
                                                    tincidunt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-secondary mx-2 text-justify"> Massa placerat duis ultricies lacus sed
                                        turpis tincidunt. Nisi vitae suscipit tellus
                                        mauris. Vel elit scelerisque mauris pellentesque pulvinar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--our video-->
                    <div class="col-lg-3">
                        <h3 class="font-weight-bold">Video Intro</h3>
                        <p class="font-weight-light">
                            Maecenas sed enim ut sem viverra aliquet eget sit. Habitant morbi tristique senectus et
                            netus.
                        </p>
                        <div align="center" class="embed-responsive embed-responsive-16by9 mt-3">
                            <video controls class="embed-responsive-item">
                                <source src="/images/video.mp4" type=video/mp4>
                            </video>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  ==== End SKILL ===  -->