<!-- 6. WORKS  -->
<section id="Works">
    <!--buttons and titles-->
    <div class="jumbotron mb-0">
        <div class="container text-center">
            <h2 class="jumbotron-heading">FEATURED WORKS</h2>
            <p class="lead text-secondary">Nunc sed velit dignissim sodales. Tempor nec feugiat nisl pretium fusce id
                velit ut. Porttitor lacus luctus accumsan tortor.</p>
            <ul class="nav nav-pills mb-3 mx-auto w-auto justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item p-1 ">
                    <a class="nav-link btn btn-outline-secondary" id="ShowAll-Tab" data-toggle="pill" href="#ShowAll"
                       role="tab"
                       aria-controls="ShowAll" aria-selected="true">All</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link btn btn-outline-secondary" id="Website-Tab" data-toggle="pill" href="#Website"
                       role="tab" aria-controls="Website"
                       aria-selected="false">Website</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link btn btn-outline-secondary" id="Logos-tab" data-toggle="pill" href="#Logos"
                       role="tab" aria-controls="Logos"
                       aria-selected="false">Logos & Branding</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link btn btn-outline-secondary" id="Graphic-tab" data-toggle="pill" href="#Graphic"
                       role="tab" aria-controls="Graphic"
                       aria-selected="false">Graphic Design</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link btn btn-outline-secondary" id="Marketing-tab" data-toggle="pill"
                       href="#Marketing"
                       role="tab" aria-controls="Marketing"
                       aria-selected="false">Online Marketing</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link btn btn-outline-secondary" id="Forest-tab" data-toggle="pill" href="#Forest"
                       role="tab" aria-controls="Forest"
                       aria-selected="false">Video</a>
                </li>
            </ul>
        </div>
    </div>
    <!--gallery with works-->
    <div class="tab-content col-12 px-0" id="pills-tabContent">
        <div class="tab-pane active px-0" id="ShowAll" role="tabpanel" aria-labelledby="ShowAll-Tab">
            <div class="row mx-0">
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide3.png"
                             alt="WEBSITE"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">WEBSITE</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p class="font-weight-bold font-14 text-darkness my-0 py-0">Read
                                more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide1.png"
                             alt="Graphic Design"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Graphic Design</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide2.png"
                             alt="Online Marketing"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Online Marketing</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide8.png"
                             alt="Logos & Branding"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Logos & Branding</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide7.png"
                             alt="WEBSITE"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">WEBSITE</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide6.png"
                             alt="Logos & Branding"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Logos & Branding</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide4.png"
                             alt="Graphic Design"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Graphic Design</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide5.png"
                             alt="WEBSITE"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">WEBSITE</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14  text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide9.png"
                             alt="Image"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Logos & Branding</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide10.png"
                             alt="Image"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Online Marketing</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="tab-pane px-0" id="Website" role="tabpanel" aria-labelledby="Website-tab">
            <div class="row mx-0">
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide3.png"
                             alt="WEBSITE"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">WEBSITE</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p class="font-weight-bold font-14 text-darkness my-0 py-0">Read
                                more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide7.png"
                             alt="WEBSITE"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">WEBSITE</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide5.png"
                             alt="WEBSITE"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">WEBSITE</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14  text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="tab-pane px-0" id="Logos" role="tabpanel" aria-labelledby="Logos-tab">
            <div class="row mx-0">
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide8.png"
                             alt="Logos & Branding"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Logos & Branding</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide6.png"
                             alt="Logos & Branding"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Logos & Branding</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide9.png"
                             alt="Image"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Logos & Branding</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="tab-pane px-0" id="Marketing" role="tabpanel" aria-labelledby="Marketing-tab">
            <div class="row mx-0">
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide2.png"
                             alt="Online Marketing"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Online Marketing</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide10.png"
                             alt="Image"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Online Marketing</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="tab-pane px-0" id="Graphic" role="tabpanel" aria-labelledby="Graphic-tab">
            <div class="row mx-0">
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide1.png"
                             alt="Graphic Design"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Graphic Design</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="portfolio col-sm-4 col-md-3 px-0">
                    <figure class="f-caption">
                        <img class="img-fluid"
                             src="../images/CarouselWork/web_slide4.png"
                             alt="Graphic Design"/>
                        <figcaption class="f-caption-text text-center p-0 m-0 open-img-modal" data-toggle="modal"
                                    data-target="#ModalImage">
                            <a href="#!"><i
                                    class="fas fa-search-plus fa-2x text-darkness mt-1"></i></a>
                            <h6 class="my-0 font-weight-bold">Your title work here</h6>
                            <p class="my-0 text-darkness font-weight-bold">Graphic Design</p>
                            <p class="my-0 py-0 font-weight-light text-truncate font-14">Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <a href="#!"><p
                                    class="font-weight-bold font-14 text-darkness my-0 py-0">Read more
                                >></p></a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--modal for gallery with works-->
    <div class="modal fade m-0 p-0" id="ModalImage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="my-0 title-image modal-title text-green font-weight-bold"></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-window-close text-green"></i>
                    </button>
                </div>

                <figure class="f-caption text-center">
                    <div class="col-sm-12"><img class="showimage img-fluid mt-3" src="" alt=""/></div>
                    <figcaption class="text-center p-0 m-0">
                        <p class="my-0 name-work text-darkness font-weight-bold"></p>
                        <p class="my-0 about-work py-0 font-weight-light text-green"></p>
                        <a href="#!"><p class="font-weight-bold font-14 text-darkness">External Link >></p></a>
                    </figcaption>
                </figure>
            </div>

        </div>
    </div>
    <!--carousel testimonial and clients-->
    <div class="jumbotron text-center mb-0 bg-light">
        <div class="container">
            <h2 class="jumbotron-heading">Testimonials & Clients</h2>
            <p class=" text-secondary mb-0">Our design is cupledwith excelent value.</p>
            <p class=" text-secondary mt-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur.</p>
            <div class="col-md-12 mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-secondary font-weight-bold text-uppercase text-center">Testimonials</h4>
                        <div id="CarouselTestimonials" class="carousel slide mt-4" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active ">
                                    <div class="testimonial-Border mr-3">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-4  col-lg-3 m-0">
                                                <img class="img-fluid m-0 p-0"
                                                     src="../images/Clients/clients_slide1.png"
                                                     alt="clients_slide">
                                            </div>
                                            <div class=" col-md-6 col-sm-7  col-lg-9 text-left">
                                                <p class="font-weight-light mx-2 text-left ">This is a wider card
                                                    with
                                                    supporting text below as a
                                                    natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <h5 class="mt-2 mb-0 pb-0">John Doe</h5>
                                        <p class="text-secundary mt-0 pt-0"> FrontEnd Developer</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-Border mr-3">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-4  col-lg-3">
                                                <img class="img-fluid" src="../images/Clients/clients_slide2.png"
                                                     alt="clients_slide">
                                            </div>
                                            <div class=" col-md-6 col-sm-7  col-lg-9 text-left">
                                                <p class="font-weight-light m-2 text-left ">This is a wider card
                                                    with
                                                    supporting text below as a
                                                    natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <h5 class="mt-2 mb-0 pb-0">Mark Eduard</h5>
                                        <p class="text-secundary mt-0 pt-0">Web Design/Developer</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-Border mr-3">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-4  col-lg-3">
                                                <img class="img-fluid" src="../images/Clients/clients_slide3.png"
                                                     alt="clients_slide">
                                            </div>
                                            <div class=" col-md-6 col-sm-7  col-lg-9 text-left">
                                                <p class="font-weight-light m-2 text-left ">This is a wider card
                                                    with
                                                    supporting text below as a
                                                    natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <h5 class="mt-2 mb-0 pb-0">Ramij Bahrin</h5>
                                        <p class="text-secundary mt-0 pt-0">BackEnd Developer</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-Border mr-3">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-4  col-lg-3">
                                                <img class="img-fluid" src="../images/Clients/clients_slide4.png"
                                                     alt="clients_slide">
                                            </div>
                                            <div class=" col-md-6 col-sm-7  col-lg-9 text-left">
                                                <p class="font-weight-light m-2 text-left ">This is a wider card
                                                    with
                                                    supporting text below as a
                                                    natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <h5 class="mt-2 mb-0 pb-0">Ramiz Fernand</h5>
                                        <p class="text-secundary mt-0 pt-0">FronEnd Developer</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-Border mr-3">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-4  col-lg-3">
                                                <img class="img-fluid" src="../images/Clients/clients_slide5.png"
                                                     alt="clients_slide">
                                            </div>
                                            <div class=" col-md-6 col-sm-7  col-lg-9 text-left">
                                                <p class="font-weight-light m-2 text-left ">This is a wider card
                                                    with
                                                    supporting text below as a
                                                    natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <h5 class="mt-2 mb-0 pb-0">Ionut Dumitru</h5>
                                        <p class="text-secundary mt-0 pt-0">Web Design/Developer</p>
                                    </div>
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#CarouselTestimonials" data-slide-to="0" class="active"></li>
                                <li data-target="#CarouselTestimonials" data-slide-to="1"></li>
                                <li data-target="#CarouselTestimonials" data-slide-to="2"></li>
                                <li data-target="#CarouselTestimonials" data-slide-to="3"></li>
                                <li data-target="#CarouselTestimonials" data-slide-to="4"></li>
                            </ol>
                        </div>
                    </div>
                    <div id="Logo" class="col-md-6">
                        <h4 class="text-secondary font-weight-bold text-uppercase text-center">Clients</h4>
                        <div class="col-12 col-md-12 mt-0">
                            <div class="row">
                                <div class="col-6 col-sm-4">
                                    <a href="#!"><img class="img-fluid" src="../images/Clients/Continental-logo.png"
                                                      alt="img clients"></a>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <a href="#!"><img class="img-fluid" src="../images/Clients/LG-logo.png"
                                                      alt="img clients"></a>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <a href="#!"><img class="img-fluid" src="../images/Clients/Microsoft-logo.png"
                                                      alt="img clients"></a>
                                </div>

                                <div class="col-6 col-sm-4">
                                    <a href="#!"><img class="img-fluid" src="../images/Clients/MyFonts-logo.png"
                                                      alt="img clients"></a>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <a href="#!"><img class="img-fluid" src="../images/Clients/Walmart-logo.png"
                                                      alt="img clients"></a>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <a href="#!"><img class="img-fluid" src="../images/Clients/Picasa-logo.png"
                                                      alt="img clients"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END WORKS -->